
<h1>Insira Suas Informaçoes</h1>

<form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="mb-3">
      <label for="nomeProd" class="form-label">Nome</label>
      <input type="text" class="form-control" [(ngModel)]="dados.nomeProd" id="nomeProd" aria-describedby="emailHelp" placeholder="Insira seu nome" width="250px">
      
    </div>
    <div class="mb-3">
      <label for="valorProd" class="form-label">Valor</label>
      <input type="number" class="form-control" id="valorProd" [(ngModel)]="dados.valorProd">
    </div>
    <div class="mb-3">
        <label for="quantidadeProd" class="form-label">Quantidade</label>
        <input type="text" class="form-control" [(ngModel)]="dados.quantidadeProd" id="quantidadeProd" aria-describedby="emailHelp">
       
      </div>
      <div class="mb-3">
        <label for="validadeProd" class="form-label">Validade</label>
        <input type="text" class="form-control" [(ngModel)]="dados.validadeProd" id="validadeProd" aria-describedby="emailHelp">
        
      </div>
       
    
      <div class="text-center">
    <button type="submit" class="btn btn-primary ">Enviar</button>
  </div>
  </form>
