.form-label{
    width: 100px;
  font-family: 'Times New Roman', Times, serif;
}
.form-control{
    width: 250px;
text-align: center;
margin: 0 auto 20px;

}
.central{
    text-align: center;
}
#titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color:blue;
}
.btn {
   margin: 10px 10px 5px 5px ;
}