<div class="central">
    <h1 id="titulo" >Registre-se</h1>
    <div >
      
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email">
            
          </div>
          <div class="mb-3">
            <label for="senha" class="form-label">senha:</label>
            <input type="senha" class="form-control" id="senha" [(ngModel)]="senha">
          </div>
          <div>
          <button (click)="registrar()" class="btn btn-primary">Entrar</button>
      </div>
      <div>
          <p *ngIf="mensagem">{{mensagem}}</p>
      </div>

    </div>
</div>
