<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Preço R$</th>
            <th scope="col">Tipo</th>
        </tr>
    </thead>

    <tbody *ngFor="let produto of produtos">
        <tr>
            <th scope="row">{{produto.id}}</th>
            <th scope="row">{{produto.nome}}</th>
            <th scope="row">{{produto.preco}}</th>
            <th scope="row">{{produto.tipo}}</th>
            <td><button [routerLink]=" '/atualizar/'+produto?.id">Atualizar</button>
            <button (click)="deletar(produto.id)">Excluir</button></td>
        </tr>
    
    </tbody>
</table>

<button [routerLink]="'novo'">Adicionar Produto</button>
